Pyrogram
TgCrypto
pytgcalls
requests
python-dotenv
youtube_dl
youtube_search_python
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
Pillow
python-arq
future
psutil
wget
tswift
